.footer{
  background: #c5c5c5;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: calibri-bold;
  font-size: 21px;
  p{
    font-family: calibri;
    font-size: 14px;
    line-height: 25px;
    color: #fff;   
  }
  a{
    color: #fff;
  }
  .footer-manu{
    padding-bottom: 25px;
    ul{
      margin: 0px;
      padding: 0px;
      li{
        display: inline-block;
        padding: 0px 20px;
        a{
          display: inline-block;
          color: #fff;
          &:hover{
            color: #000;
          }
        }
      }
    }
  }
  .copyright{
    a{
      font-weight: 600;
    }
  }
}
