.service {
  text-align: center;
  padding: 10px 0;
  background-color: $secondary-color;

  h2 {
    font-family: calibri-bold;
    font-size: 54px;
    color: $tertiary-color;
}
  .section-title {
     p {
       font-family: calibri;
       font-size: 26px;
       text-transform: uppercase;
       font-style: normal;
       color: $primary-color;
     }
   }
  .service-item {
    padding-bottom: 30px;

    i {
      font-size: 60px;
      color: $primary-color;
    }

    h4 {
      padding-top: 15px;
      margin: 0;
      font-weight: 500;
      font-family: georgia-bold;
      font-size: 39px;
    }

    p {
      padding-top: 10px;
      margin: 0;
    }
  }
}

.dark-service {
  .title {
    color: $light;
  }

  .service-item {
    padding-bottom: 30px;
    text-align: center;

    i {
      font-size: 60px;
      color: $light;
    }

    h4 {
      color: $light;
      padding-top: 15px;
      margin: 0;
      font-weight: 500;
      text-transform: uppercase;
    }

    p {
      padding-top: 10px;
      margin: 0;
    }
  }
}

.service-about {
  h2 { 
       text-align: center; 
       color: $tertiary-color;
	}
  h3 {
       color: $primary-color;
     }
  p {
    line-height: 28px;
    font-family: calibri;
    font-size: 27px; 
  }
}





.service-arrow {
  .block {
    padding: 70px 30px;

    i {
      font-size: 40px;
    }

    p {
      color: $light;
    }
  }
}




.service-list {
  .block {
    padding: 30px;
    margin-bottom: 20px;
    background: $light;
  }
}
