$light: #fff;
$primary-color: #2b8fce;
$secondary-color: #f7ad40;
$tertiary-color: #2a285e;
$success: #1bbb1b;
$black: #000;
$alert:#c7254e;
$border-color:#dedede;
$primary-font:'Roboto', sans-serif;
$secondary-font:'Volkhov', serif;
$icon-font: 'themefisher-font';
$bg-color: hsl(255,255,255);
$dot-color: hsl(0,0,90);
$dot-size: 3px;
$dot-space: 9px;
